<div class="container">
    <div class="social-media">
        <a href="https://www.facebook.com/?locale=es_LA"><i class="bi bi-facebook"></i></a>
        <a href="https://www.linkedin.com/home"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
    </div>
    <div class="info">
        <a href="">
            <p>Privacity</p>
        </a>|
        <a href="">
            <p>Use Terms</p>
        </a>|
        <a href="">
            <p>Site Map</p>
        </a>
    </div>
</div>